body {
    font-family: "Montserrat", serif;
}

.pricing-container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.pricing-plan {
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    text-align: center;
}